body {
    background: linear-gradient(#6581BD, #7d57ac);
    
}
nav {
    background-color:rgba(199, 199, 199, 0.795);
    
}

footer {
    display: flex;
    background-color: rgba(126, 126, 126, 0.795);
    margin: 0px;
    justify-content: center;
    max-height: 45px;
}
h4 {
    font-family: monospace;
    color: #e4ebf7;
    justify-content: space-around;
    margin: 15px 20px 15px 20px;
}
footer img {
        max-width: 10%;
        align-items: center;
    }