footer {
    display: flex;
    background-color: rgb(182, 182, 182);
    margin: 0px;
    justify-content: center;
}
h4 {
    font-family: monospace;
    color: #e4ebf7;
    justify-content: center;
}
footer img {
        max-width: 10%;
        align-items: center;
    }